$yellow:#F1A501;
$orangeDark: #df6951;
$orange:  #df6951;
$cd3:  #14183e;
$st1: #181E4B;
$textColor:#1e1d4c;
$textDemo:#686d77;
$textCLR: #5E6282;
$white: #fff;
$borderAuth:#212832;
$text2:#84829A;
$black:#080809;
$headerGradient: linear-gradient(
    90deg,
    #d8c8ff 0%,
    rgb(191, 217, 247) 50%,
    #d8c8ff 100%
  );